
@import './shared/fonts';
@import './shared/header';
@import './index';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}
.self-typed{
  font-size: 31px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}
.absolute {
  position: absolute;
}

.base-page{
  padding-top: 150px;
}